extends layout

block content
	h1 #{title}
	form(method="POST", action='/')
		#form-group
			label Episode:
			input.form-control(name='episode', type='text')
		#form-group
			label Text:
			textarea.form-control(name='text')
		input.btn.btn-primary(type='submit',value='Submit')
	ul.list-group
		each subtitle, i in subtitles
			li.list-group-item= subtitle.episode
			li.list-group-item= subtitle.start
			li.list-group-item= subtitle.text
			li.list-group-item= subtitle.end